<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<img src="{% static 'myPic.jpeg'%}" width="200", height="200"> <a href="{% url 'mylogout' %}">Logout</a>
<body>
<form  method="post" action="{% url 'Mydata' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input class="form-control" type="text" placeholder="Enter your name", name="name">
    </div>
    <br>
    <div class="mb-3">

        <input class="form-control" type="email" placeholder="Enter your email", name="email">
    </div>
    <br>
    <div class="mb-3">
        <input class="form-control" type="password" placeholder="Enter your password", name="p1">
    </div>
    <br>
    <div class="mb-3">
        <input class="form-control" type="password" placeholder="Re-Enter your password", name="p2">
    </div>
    <br>
    <div class="mb-3">
        <input class="form-control" type="number" placeholder="Enter your age", name="age">
    </div>
    <br>
    <button type="submit">Submit</button>
</form>

<br>
The existing records in the database are:
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
    <tbody>
    {% for ob in obj %}
     <tr>

        <td>{{ob.name}}</td>
         <td>{{ob.age}}</td>
         <td>{{ob.email}}</td>
         <td>{{ob.password}}</td>
         <td><a href="{% url 'upd' id=ob.pk %}">Update</a> | <a href="{% url 'del' id=ob.pk %}" onclick="return confirm('Are you sure?')">Delete</a> </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>